{% extends '::base.html.twig' %}
{% block title %}Crawler parameters{% endblock %}

{% block body -%}
    <h1>Paramétrage du crawler</h1>
    
{#    {{ form(paramForm) }}#}

    {{ form_start(paramForm, { 'attr': {'id': 'paramForm'}}) }}
        <p>Nombre d'urls que le crawler va chercher: </p>
        {{ form_row(paramForm.request_limit) }}
    {{ form_end(paramForm) }}
    
    <br/>
{#    <a href='{{ path('blog_crawl_param_results', {'id': blog.id}) }}'>Tester le crawler</a>    #}
    <a id="crawl_test_button" href='#'>Tester le crawler</a><br/>    
    
    <div class="loading">Work in progress</div>
    <div id="crawl_results"></div>
    
    <script type="text/javascript">
        $(document).ready(function(){
            $(".loading").hide();

            $('#crawl_test_button').click(function(){
                $('.loading').show();
                
                var requestLimit = $('#blogParam_request_limit').val();                
                var url = "{{ path('blog_crawl', {'id': blog.id, 'requestLimit': 'requestLimit'}) }}";
                url = url.replace("requestLimit", requestLimit);
                
                $.ajax({
                    type: "POST",
                    url: url,                   
                    cache: false,
                    success: function(response){
                        $('#crawl_results').html(response);
                        $(".loading").hide();
                    }
                });

                return false;
            });
        });       
    </script>    

{% endblock %}