{% extends '::base.html.twig' %}
{% block title %}Crawler parameters{% endblock %}

{% block body -%}
    <h1>Paramétrage du crawler</h1>    

    {{ form_start(paramForm) }}
        <p>Nombre d'urls que le crawler va chercher: </p>
        {{ form_row(paramForm.request_limit) }}
    {{ form_end(paramForm) }}
    
    <a href='{{ path('blog_crawl_param_results', {'id': id}) }}'>Tester le crawler</a><br/>
    
    {{ render(controller('AppBundle:Blog:crawl', {'id': id, 'requestLimit': requestLimit })) }}
{% endblock %}