{% extends '::base.html.twig' %}
{% block title %}Blog interface{% endblock %}

{% block body -%}
    <h1>{{ blog.nom }}</h1>
    
    <table class="record_properties table">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Plateforme</th>
                <th>Url</th>
                <th>Categorie</th>
                <th>Auteur</th>
                <th>Logo</th>
            </tr>
            <tr>
                <td>{{ blog.id }}</td>                
                <td>{{ blog.nom }}</td>
                <td>{% if(blog.plateforme) %}{{ blog.plateforme }}{% else %}Indéfini{% endif %}</td>
                <td><a target="_blank" href="{{ blog.url }}" title="{{ blog.nom }}">{{ blog.url }}</a></td>
                <td>{{ blog.categorie }}</td>
                <td>{{ blog.auteur }}</td>
                <td class="blog_logo">{% if blog.logo %}<img src="{{ asset(blog.getLogoWeb) }}" />{% endif %}</td>            
            </tr>
        </tbody>
    </table>
            
    {# Process Report here #}
    {% if process_report %}
        <div class="panel panel-default">            
            <div class="panel-body">
                <p>Last crawl date : {{ process_report['date']|date("d-m-Y") }}</p>
                <p>Number of visited links : {{ process_report['links'] }}</p>
                <p>Number of docs saved : {{ process_report['docs'] }}</p>
                <p>Bytes received : {{ process_report['bytes'] }}</p>
                <p>Process runtime : {{ process_report['time'] }}</p>
            </div>
        </div>
    {% endif %}  
    <p>Number of actual urls in database for {{ blog.nom }} : {{ article_count }}</p>
    
{#    {{ form(delete_form) }}#}
    <a href="{{ path('article', {'blog_id': blog.id}) }}">Articles</a><br/>

    <h3>Actions</h3>
    <a href="{{ path('blog_crawl_param_edit', {'id': blog.id}) }}">1. Crawler settings and testing</a><br/>
    <a id="link_crawl" href="{{ path('article_crawl_results', {'blog_id': blog.id}) }}">2. Get url and html sources (full crawl)</a><br/>
{#    <a id="link_crawl" href="#">Test</a>#}
    {# Contient la réponse Ajax #}
    <div id="response"></div>
    
    <script type="text/javascript">        
       
        
              
        $(document).ready(function(){ 
            var url = "{{ path('check_articles', {'blog_id': blog.id}) }}";
            
            $("#link_crawl").click(function(){  
                function poll(){
                    setTimeout(function(){
                        $.ajax({
                            url: url,
                            success: function(response){
                                $("#response").html($.parseJson(response));
                                poll();
                            }
                        });
                    }, 2000);
                }
            });            
        });
        
        
        
        
    </script>
    
{% endblock %}



