{% extends '::base.html.twig' %}
{% block title %}Blog interface{% endblock %}

{% block body -%}
    <h1>{{ blog.nom }}</h1>
    
    <table class="record_properties table">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Plateforme</th>
                <th>Url</th>
                <th>Categorie</th>
                <th>Auteur</th>
                <th>Logo</th>
            </tr>
            <tr>
                <td>{{ blog.id }}</td>                
                <td>{{ blog.nom }}</td>
                <td>{% if(blog.plateforme) %}{{ blog.plateforme }}{% else %}Indéfini{% endif %}</td>
                <td><a target="_blank" href="{{ blog.url }}" title="{{ blog.nom }}">{{ blog.url }}</a></td>
                <td>{{ blog.categorie }}</td>
                <td>{{ blog.auteur }}</td>
                <td class="blog_logo">{% if blog.logo %}<img src="{{ asset(blog.getLogoWeb) }}" />{% endif %}</td>            
            </tr>
        </tbody>
    </table>
    
    <h4>You have collected {{ urls_count }} urls for this blog. Date : {{ blog.getUrlListDate()|date('d-m-Y') }}</h4>
    {% if urls_count != 0 %}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">            
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Show urls
                </a>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <table class="table table-hover">
                        <tr>
                            <th>Url</th>
                            <th>Delete</th>
                        </tr>
                        {% for url in urls %}
                            <tr>
                                <td>{{ url }}</td>
                                <td><a href="{{ path('blog_delete_url', {'id': blog.id, 'key': loop.index0 }) }}">X</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    {% endif %}

{#    <a href="{{ path('blog') }}">Retour à la liste</a><br/>#}
{#    <a href="{{ path('blog_edit', {'id': entity.id}) }}">Modifier</a>#}

{#    {{ form(delete_form) }}#}
    
    <h3>Actions</h3>
    <a href="{{ path('blog_crawl_param_edit', {'id': blog.id}) }}">1. Crawler settings and testing</a><br/>
{#    <a id="btn_get_urls" href="">Show saved urls</a><br/>#}
    <a href="{{ path('blog_crawl_results', {'id': blog.id}) }}">2. Get all the urls</a><br/>
    {% if urls_count != 0 %}
        <a href="{{ path('article_index', {'blog_id': blog.id}) }}">3. Fetch related content</a><br/>
    {% endif %}
{#    <div id="show_urls">
        {% if urls %}
            {% for url in urls %}
                {{ url }}<br/>
            {% endfor %}
        {% endif %}
    </div> #}
    
    <script type="text/javascript">
        $(document).ready(function(){            
            
            {#$("#show_urls").hide();
            
            // Affichage des urls actuellement stockées
            $('#btn_get_urls').click(function(event){
                event.preventDefault();
                
                $("#show_urls").toggle("slow");
                return false;
            });#}
        });
    </script>
    
{% endblock %}



