{% extends '::base.html.twig' %}
{% block title %}Blog interface{% endblock %}

{% block body -%}
    <h1>{{ entity.nom }}</h1>

    <table class="record_properties table">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Plateforme</th>
                <th>Url</th>
                <th>Categorie</th>
                <th>Auteur</th>
                <th>Logo</th>
            </tr>
            <tr>
                <td>{{ entity.id }}</td>                
                <td>{{ entity.nom }}</td>
                <td>{% if(entity.plateforme) %}{{ entity.plateforme }}{% else %}Indéfini{% endif %}</td>
                <td>{{ entity.url }}</td>
                <td>{{ entity.categorie }}</td>
                <td>{{ entity.auteur }}</td>
                <td class="blog_logo">{% if entity.logo %}<img src="{{ asset(entity.getLogoWeb) }}" />{% endif %}</td>            
            </tr>
        </tbody>
    </table>

{#    <a href="{{ path('blog') }}">Retour à la liste</a><br/>#}
{#    <a href="{{ path('blog_edit', {'id': entity.id}) }}">Modifier</a>#}

{#    {{ form(delete_form) }}#}
    
    <h3>Actions</h3>
    <a href="{{ path('blog_crawl_param_edit', {'id': entity.id}) }}">Paramétrer le crawler</a><br/>
    <a href="{{ path('blog_crawl_results', {'id': entity.id}) }}">Crawler tout le site</a>
    
{% endblock %}



