{% extends '::base.html.twig' %}
{% block title %}Articles index for {{ blog.nom }}{% endblock %}

{% block body -%}
    <h3>Articles index for {{ blog.nom }}</h3>
    
    {% if articles %}
        {#{% for article in articles %}
            {{ article.id }}<br/>
            {{ article.titre }}<br/>
            {{ article.contenu }}<br/>
        {% endfor %}#}
        
        {# Bouton pour voir les articles #}
    {% else %}
        <p>No articles retrieved yet.</p>        
    {% endif %}
    
{#    <div id="url_source"></div>#}
    <a id="fetch_btn" href="">Fetch url sources</a>
    <div id="fetch_msg"></div>
    <div class="loading"></div>
    
    <script type="text/javascript">
        $(document).ready(function(){
            $("#url_source").hide();
            $(".loading").hide();
            
            // Déclenche le fetchAction pour faire la requête en ajax
            $('#fetch_btn').click(function(event){
                event.preventDefault();
                $('.loading').show();
                $("#fetch_msg").hide();
                
                var url = "{{ path('articles_fetch', {'blog_id': blog.id}) }}";                
                
                $.ajax({
                    type: "GET",
                    url: url,                   
                    cache: false,                    
                    success: function(response){
                        var counter = response.counter;
                        $("#fetch_msg").append("Nombre de sources sauvegardées en base: " + counter);
                        $("#fetch_msg").show("slow");
                        
                        {#var urls = response.urls;
                        $.each(urls, function(i, val){
                            $("#url_source").append(val + "<br/>");
                        });
                        $('#url_source').show('slow');#}
                        
{#                        $('#url_source').html();#}
                        
                        $(".loading").hide();                        
                    }
                });

                return false;
            });
        });
    </script>
{% endblock %}