{% extends '::base.html.twig' %}
{% block title %}Blog crawler{% endblock %}

{% block body %}
    <h3>Résultat du crawler pour {{ blog.nom }}</h3>
    <a href="{{ path('article', {'blog_id': blog.id}) }}">Articles</a><br/>
    <a href="{{ path('blog_show', {"id": blog.id}) }}">Back to the {{ blog.nom }} blog page</a><br/>
    
    <div id="response"></div>
    <br/><br/>   
    
    <script type="text/javascript">
        
        function getContent(timestamp){
            
            var queryString = {'timestamp' : timestamp};           
            var url = "{{ path("ajax_polling",{"blog_id": blog.id}) }}";
            
            $.ajax(
                {
                    type: 'GET',
                    url: url,
                    data: queryString,
                    success: function(response){                        
                        // Remplacement des espaces 
                        str = response.data_from_file;
                        data = str.replace(/\s/g, "<br/>");
                        // Affichage
                        $('#response').html(data);
                        // call the function again, this time with the timestamp we just got from server.php
                        getContent(response.timestamp);
                    }
                }
            );
        }
        
        $(document).ready(function(){
            getContent();
        });
        
    </script>
{% endblock %}
